body {
  margin: 0;
  border: 0;
  background: lightcyan;
  box-sizing: border-box;
  font-family: sans-serif;
}

.flex-v {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 0.25rem;
}

.itemA {
  height: 3rem;
}

.flex-h {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: flex-end;
  justify-content: space-between;
}

.item-h {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.125rem;
}

.item-hr {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  gap: 0.125rem;
}

.flex-v-e {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.h-3 {
  height: 3rem;
}

.itemB-v-e {
  flex: 1;
}

.flex-h-e {
  display: flex;
  flex-direction: rows;
  height: 100%;
}

.w-3 {
  width: 3rem;
}

.itemB-h-e {
}

.w-16 {
  width: 16rem;
}

.h-16 {
  height: 16rem;
}

#content {
  background: brown;
  height: 8rem;
  width: 8rem;
}

div {
}

.flex-1 {
  flex: 1;
}

#info {
  padding-left: 0.5rem;
}

.info {
//  border: solid;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 3rem;
  justify-content: space-between;
}
